.flex-container {
    display: flex;
    
}

.flex-container-colum {
    flex-direction: column;
    flex: 2;
    margin-left: 1rem;
}


.containerAsignarPresupuestoPartida,
.containerCrearPartida {
    margin: 1rem;
}

.buttons-conainter {
    display: flex;
    flex-direction: row;
}

.gp-buttons-conainter {
    display: flex;
    justify-content: left;
}

.gp-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 20px;
}


.gp-button:hover {
    background-color: #0056b3;
}

.containter-img{
    flex: 1;
    width:95%;
    padding:2rem;
}
.image-decoration {
    
    max-width: 100%;
}

.container-dllDepartamentos{
    margin-top:1rem;
}
.ddlDepartamentos {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-size: 1.1rem;
}

.containter-gridViewMetas {
    padding-top: 2rem;
    padding-right: 10rem;
}
/* Estilos para el GridView Metas*/
.gridViewMetas {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    text-align: center;
}


/* Estilos para las celdas del GridView */
.gridViewMetas td, #gridViewMetas th {
    padding:10px;
    border: 1px solid #ddd;
}

/* Estilos para la cabecera del GridView */
    .gridViewMetas th {
        background-color: #f2f2f2;
        text-align: center;
        padding: 8px;
    }

/* Estilos para el botón Seleccionar */
.gridMetas-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

/* Estilos para el botón Seleccionar al pasar el cursor */
.gridMetas-button:hover {
    background-color: #0056b3;
}

/* Estilos para el GridView Partidas*/
.gridViewPartidas {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    text-align: center;
}


/* Estilos para las celdas del GridView */
.gridViewPartidas td, #gridViewPartidas th {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
}

/* Estilos para la cabecera del GridView */
    .gridViewPartidas th {
        background-color: #f2f2f2;
        text-align: center;
        padding: 8px;
    }

/* Estilos para el botón Seleccionar */
.gridPartidas-button {
    
    background-color: #e78412;
    color: #fff;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

/* Estilos para el botón Seleccionar al pasar el cursor */
.gridPartidas-button:hover {
    background-color: #b3660e;
}

/*Estilos para asigna presupuesto*/
.input {
    border: solid 5px #ececec;
    border-top: none;
    border-left: none;
    border-radius: 10px;
    padding: 8px;
    background-color: #ffffff !important;
    width: 230px;
    font-size: 16px;
    color: #555555;
}

 

    .input:focus {
        outline: none;
    }

 

.Partida {
    background-image: linear-gradient(to right, #53a57b, #004d26);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

 

.Presupuesto {
    margin-left: 50%;
    background-image: linear-gradient(to bottom, #b82c2c, #d38538);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

 

/*Boton Enviar Solicitud*/
.button {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

 

    .button.enviar_solicitud {
        background-image: linear-gradient(to right, #8fcf50, #18b550);
        color: #ffff;
    }

 

        .button.enviar_solicitud:hover {
            cursor: pointer;
        }